{% extends "_base.html" %}

{% block title %}{% endblock %}

{% block content %}

  <div class="container">
    <h1>{{employee.first_name}} {{employee.last_name}}</h1>
    <form action="/employees/{{employee.id}}/edit" method="post" class="col-md-4">
      <label for="first_name">First name</label>
      <input class="form-control" type="text" name="first_name" value="{{employee.first_name}}">

      <label for="last_name">Last name</label>
      <input class="form-control" type="text" name="last_name" value="{{employee.last_name}}">

      <label for="email">Email</label>
      <input class="form-control" type="text" name="email" value="{{employee.email}}">

      <label for="favorite_donut">Favorite donut</label>
      <select class="from-control" name="favorite_donut">
        {% for donut in donuts %}
        <option value="{{donut.id}}">{{donut.name}}</option>
        {% endfor %}
      </select>
      <br>
      <label for="work">Work Location</label>
      <select name="shop_id">
        {% for shop in shops %}
        <option value="{{shop.id}}">{{shop.name}} in {{shop.city}}</option>
        {% endfor %}
      </select>

      <input class="form-control" type="submit" value="Edit">
    </form>
  </div>

{% endblock %}
